.tarefa{
    background-color: #f6faf6;
    border-radius: 15px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
    width: 500px;
    height:130px ;
    position: relative;

}


.tarefaConcluida{
    background-color: #d8e7f0;
}


.cabecalho{
    background-color: #5b6eb0;
    border-radius: 15px 15px 0 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    justify-content: center;
    color: #ffffff;

}

.cabecalho > input[type = "text"]{
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    font-size: 25px;
    color: #ffffff;
    font-weight: bold;
    width: 100%;
    text-align: center;
    outline: 0;
    
}

.tarefa > textarea{
    width: 100%;
    border: 0;
    outline: none;
    resize: none;
    background-color: rgba(0, 0, 0, 0);
    padding: 5px;
    text-indent: 10px;
    font-size: 15px;
    text-align: justify;
    color:#7d85d1;

   
}



.tarefa > button{
    border-radius: 100%;
    width: 25px;
    height: 25px;
    border: 0;
    position: absolute;
    top: calc(100% - 12.5px);
    color:#fff;
    left: 0;
    
}

.tarefa > button > img{
    width: 10px;
    height: 10px;
}

.tarefa > button:hover {
    
    cursor: pointer;

}

.tarefa > input[type = "radio"]{
    position: absolute;
    top: calc(100% - 20px);
    left: calc(100% - 25px);
    background-color: black;

}

.remover{
    background-color: #d95454;
}

.remover:hover{
    background-color:#c44848 ;
 
}

.criar{
    background-color: #4abb55;
}

.criar:hover{
    background-color: #389b42;
}

.tarefa > button:last-child{
    left: calc(100% - 12.5px)
}

.tarefa:last-child{
    opacity: 0.7;
}



